---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>This is my Blog page</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>

    <h1>Here my posts:</h1>
    <ul>
      <li><a href="/posts/first-post">1st post</a></li>
      <li><a href="/posts/second-post">2rd post</a></li>
      <li><a href="/posts/third-post">3rd post</a></li>
    </ul>
  </body>
</html>
