---
const pageTitle = "HomePage";
import "../global/global.css";
import Navbar from "../components/Navbar.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<h1>This is my {pageTitle}</h1>
		<h2>check out the menu:</h2>
		<Navbar />
	</body>
</html>
